.topbar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(40px + 90%);
  border-radius: 6px 6px 0 0;
  margin-top: 30px;
}
.datetimepickers-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.from-dtp {
  margin-right: 20px;
}
.save-config-button {
  box-sizing: border-box;
  outline: none;
  width: 120px;
  background: #4285f4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 33px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 9px;
}
.save-config-button:hover {
  background: #0353dd;
  font-size: 13px;
  transition: all 0.2s linear;
}
