.resources-table {
  height: 500px;
  margin-top: 20px;
  border-radius: 6px;
  width: calc(40px + 90%);
  align-items: center;
  box-shadow: 0px 0px 11px 0px rgba(158, 152, 158, 1);
}
.header-row {
  background: #4285f4;
  color: white;
  display: flex;
  border-radius: 6px 6px 0 0;
  height: 30px;
}
th:first-child {
  flex-grow: 1;
  text-align: left;
  padding-left: 6px;
}
th {
  padding-top: 3px;
  width: 14%;
  text-align: left;
}
