.siteselector-wrapper {
  height: 40px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 10px;
}
.label {
  align-self: flex-start;
  font-weight: bold;
  margin: 0 0 -12px 8px;
  z-index: 2;
  background: #f8f8f8;
}

.dropdown {
  background: #f8f8f8;
  height: 35px;
  outline: none;
  border-radius: 6px;
  box-shadow: 0px 0px 11px 0px rgb(199, 197, 199);
  border: 1px solid#bdbbbb;
  width: 100%;
}
